header{
    background-image:url(img/pattern.png);
    background-color: rgb(43, 175, 220);
    height:150px ;
    position: relative;
}
.logo{
    width: 20%;
    position: absolute;
    bottom: 0;
}
h1{
  font-size: 50px;
}
h2{
    margin-top: 0;
    opacity: 0.5;
}
 span{
    color: rgb(43, 175, 220);
 }
 h1,.photo-comment{
    margin: 0;
 }
